.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
    border-bottom: 3px solid #7800ff;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
  }
  
  .videoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 50px;
    object-fit: cover;
 
 
  }
  
  .video {
    object-fit: contain;
    @media (max-width:768px){
      margin-top: 6px;
    
    }
   
 
    
   



    
  }
  
  .video video{
    object-fit: contain;
    width: 657px;
    height: 297px;

    
  }
  .textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
  }
  
  .textLine {
    font-size: 24px;
    margin-top: 30px;

  
    @media (max-width:768px){
      margin-top: 30px;
      font-size: 1.1rem;
    }
  }
  .textLine2 {
    font-size: 24px;

    @media (max-width:768px){
     
      font-size: 1.1rem;
    }
  }
  .rightContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 50px;
  }
  
  .rightText {
    font-size: 4rem;
   
    @media (max-width: 768px){
      font-size: 2rem;
    }
  }
  
  .contentContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 50px;
    background-color: #fff;
  }
  
  .text {
    width: 50%;
    padding-right: 50px;
  }
  
  .text p {
    font-size: 1.3rem;
    line-height: 1.5;
  }
  
  .text ul {
    font-size: 1.3rem;
    font-weight: 300;
    padding: 0;
    color: #7800ff;
   
   
  }
  
  .text li {
    margin-bottom: 10px;
    margin-top: 10px;
    color: black;
  }
  
  .image {
    width: 50%;
    height: 200px;

  }
  
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      align-items: center;
    }
  
    .videoContainer {
      width: 100%;
      padding: 20px;
    
    
    }
    
    .rightContainer {
      width: 100%;
      padding: 20px;
       
    }
  
    .text {
      width: 100%;
      padding-right: 0;
    
      
    }
  
    .image {
      display: none;
    }
  
  }

  //Article

  .man{
    background-image: url("../../assets/reviewbg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    width: 100%;
    margin: 0%;
 

    .manInfoDetails{
      text-align: center;

      h1{
        width: auto;
        margin-top: 40px;
        width: auto;
        margin-bottom: 30px;
        b{
          border-bottom: 3px solid #7800ff;
        }

      }
      p{
        font-size: 1.3rem;
        max-width: 800px;
      margin: 0% auto;
      margin-bottom: 30px;
      }
      .manbtn{
        border: 1px solid #7800ff;
        background-color: #7800ff;
        color: #fff;
        font-size: 1.3rem;
        padding: 10px;
        border-radius: 50px;
        transition: all ease-in-out 0.3s;
        &:hover{
          transform: scale(1.1);
        }
        
      }
    }
  }
