.student-info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 95%;
    height: 100vh;
    background-image: url("../../assets/bginfo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 70px;
    margin-top: 10px;
    margin-left: 10px;
    margin-left: 40px;
    @media (max-width:768px) {
          margin: 0 auto;
      padding: 0%;
      display:block;
      
    }
 
  
    .image-circle {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
   height: 100%;
     
 
      margin-bottom: 1rem;
      margin-right: 22rem;
       @media (max-width:768px) {
          margin: 0 auto;
      padding: 0%;
     position: relative;
     top: 23.5%;
     left: -15%;
     z-index: 99;
     width: 600px;


     
      
    }
  
      img {
        display: block;
        width: 70%;
        height: auto;
        object-fit: cover;
        border-radius: 200%;
            @media (max-width:768px) {
            border-radius: 0%;
            border-radius: 20px;

           
      
    }
      }
    }
  
    .text-circle {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 45%;
      height: 85%;
      background-color: rgba(250,250,250,0.9) ;
      box-shadow: 1px 1px 1px grey;
      border-radius: 50%;
      overflow: hidden;
      top: 50%;
      left: 60%;
      transform: translate(-50%, -50%);
      text-align: center;
          @media (max-width:768px) {
          margin: 0 auto;
      padding: 0%;
     position: absolute;
     top: 25%;
     left: 50%;
     border-radius: 0%;
     width: 400px;
     height: 350px;
     z-index: 99;
     border-radius: 20px;
     
      
    }
      
      p {
        font-size: 1.2rem;
        text-align: center;
        margin: 0;
        padding: 0.5rem;
        max-width: 450px;
            @media (max-width:768px) {
    font-size: 1rem;
    padding: 0%;
      
    }
      }
    }
  
  
  }
  
