.wrapper {
    
   padding: 0 10px;
    font-size: 1.1rem;
   
 
   margin-bottom: 2rem;
   .infotitle{
    text-align: center;
    margin: 50px auto;
    
    h1{
      font-size: 2.6rem;
      @media (max-width:768px) {

        font-size: 1.7rem;
      }
      i{
        font-style: normal;
        border-bottom: #7800ff 4px solid ;
        
      }
    }
   }
   

  }
  

  
  .container {
    display: flex;
text-align: left;
    justify-content: space-between;
   
   
    justify-content: center;
    @media (max-width:768px) {
      display: block;
      padding: 10px 90px;
      
    }
    

   
  }
  
  .box1,
  .box2,
  .box3{
  
   
    
    
    text-align: left ;
    margin-right: 10px;
    @media (max-width:768px) {
      text-align: center;
      
    }
  
  
  }
    
  
 

  .containerBox{
    margin-bottom: 50px;
    justify-content: center;
   
    p{
   max-width: 350px;
   
  
    }
  }
 

  .moreinfoContainer{
    display: flex;
    padding: 0 30px;
    width: 100%;
    height: 100%;
    @media (max-width:768px) {
      display: block;
      
    }
    .moreinfoTextContainer{
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      @media (max-width:768px) {
        width: 100%;
     
      }
      h1{
        margin-bottom: 20px;
        border-bottom: 4px solid #7800ff;
        font-size: 2.5rem;
        text-align: left;
             @media (max-width:768px) {
        max-width: 300px;
        text-align: left;
        font-size: 1.5rem;

     
      }
     
      }
      p{
        font-size: 1.2rem;
             @media (max-width:768px) {
        font-size: 1.1rem;
     
      }
      }
      
      
      
    }
    .moreinfoImageContainer{
      margin-left: 20px;
      width: 55%;
    object-fit: cover;
         @media (max-width:768px) {
        width: 100%;
     margin: 0%;
      }
    img{
      width: 100%;
      height: 100%;
      border-radius: 50px;
    }
    }

  }

  //imgcontainer main 
  .titleImgContainer{
    padding: 0%;
    width: 100%;
    @media (max-width:768px) {
      height: 35vh;
      
    }
    img{
      width: 100%;
      @media (max-width:768px) {
        height: 100%;
        
      }

    }
  }

 .quoteContainer{
  padding: 100px 50px;
  text-align: center;
h4{
  font-size: 2rem;
  .auth{
    color: black;
  }
}
p{
  font-size: 1.5rem;
  color: #999;
}

 }