.hero {
    background-image: url('../../assets/hero1.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  .heroContent {
    text-align: center;
  color: black;
  text-shadow: 0 0 1px white, 0 0 2px white, 0 0 1px white, 0 0 1px white;
  }
  
  .heroHeading {
    font-size: 4rem;
    margin-bottom: 1rem;
    max-width: 80rem;
    margin-top: 30%;  
    
  }
  
  .heroText {
    font-size: 2rem;
    line-height: 1.5;
    max-width: 50rem;
    margin: 0 auto;
    font-weight:700;
    text-shadow:  0 0 1px white, 0 0 4px white,0 0 1px white, 0 0 2px white0 0 1px white, 0 0 2px white;
  }
  