
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Outfit', sans-serif;



}

::-webkit-scrollbar{
  width: .7em;
  height: 1em;
  
}
::-webkit-scrollbar-track {
 
  background: #dddddd;
 border-radius: 100px;

}
::-webkit-scrollbar-thumb{
  border-radius: 100vh;
  background:rgba(108, 122, 137,1);

}
