
.offcanvas-btn {
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba (250,250,250,0.9);
  

  font-size: 2rem;
  z-index: 99999999999;
}

.nav-text{
  font-size: 1.1rem;
  padding-right: 4px;
  margin-top: 3px;
}


  li{
    list-style: none;
    font-size: 1.6rem;
   margin-bottom: 10px;
   a{
    text-decoration: none;
    color: black;
  
    &:hover{
      border-bottom: 2px solid #7800ff;
    }
   }
  }
  .social-media{
    align-items: center;
    text-align: center;
    margin-top: 20px;
    a{
    

      
     
      margin-right: 15px;
      i{
        font-size: 1.6rem;
       color: #7800ff;
        padding: 1.20%;
    
        
      }
    }
  }
  .contact-info-nav{
    margin-left: 60px;
    h1{
      margin: 10px 0px;
      font-size: 1.6rem;

    }
    p{
      font-size: 1.2rem;
    }
  }

 

